@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Antic Slab', serif;
}

h1 {
    font-size: 2.9rem;
    background-color: #add8e6;
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    height: 85px;
    padding-top: 15px;
}

.squares {
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.deaths {
    border: 2px solid red;
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
}

.main-img-container {
    background-image: url('../imgs/covidblue.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -99px;
    height: 350px;
    display: flex;
    align-items: flex-end;
}

label {
    font-size: 18px;
}

#insert {
    border: 2px solid grey;
    height: 23px;
    font-size: 15px;
}

#boxbox {
    border: 2px solid green;
    padding: 7px;
    border-radius: 15px 50px 30px;
}

.confirmed {
    border: 2px solid orange;
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
}

.recovered {
    border: 2px solid green;
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
}

.population {
    border: 2px solid blue;
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
}

.country {
    border: 2px solid purple;
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
}

p {
    font-size: 24px;
}

#foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(40, 40, 40, 0.5);
    text-align: center;
    display: block;
}

label, h3 {
    padding: 20px;
}

#searchbox {
    text-align: center;
}

.deaths:hover {
    background-color: rgba(255, 15, 15, 0.5);
}
 
.country:hover {
    background-color: rgba(118, 0, 115, 0.5);
}

.confirmed:hover {
    background-color: rgba(255, 158, 31, 0.5);
}

.recovered:hover {
    background-color: rgba(0, 118, 21, 0.5);
}

.population:hover {
    background-color: rgba(24, 0, 250, 0.5);
}

#boxbox:hover {
    background-color: rgba(0, 118, 21, 0.5);
}

