@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 70px;
    font-family: 'Antic Slab', serif;
    background-color: rgba(42, 47, 244, 0.1);
}

h1 {
    font-size: 2.9rem;
    background-color: rgba(40, 40, 40, 0.5);
    text-align: center;
}

.squares {
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.deaths {
    background-color: rgba(255, 16, 12, 0.5);
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;

}

.main-img-container {
    background-image: url('../imgs/covidblue.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -99px;
    height: 500px;
    display: flex;
    align-items: flex-end;
}

label {
    font-size: 18px;
}

#insert {
    border: 2px solid grey;
    height: 23px;
    font-size: 15px;
}

#boxbox {
    border-radius: 70%;
    padding: 7px;
    background-color: green;
}

.confirmed {
    background-color: rgba(244, 160, 59, 0.5);
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

.recovered {
    background-color: rgba(141, 184, 86, 0.5);
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

.population {
    background-color: rgba(32, 100, 183, 0.5);
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

.country {
    background-color: rgba(151, 71, 174, 0.5);
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

p {
    font-size: 18px;
}

#foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(40, 40, 40, 0.5);
    text-align: center;
    display: block;
}