@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Antic Slab', serif;
}

h1 {
    font-size: 2.9rem;
    background-color: rgba(40, 40, 40, 0.5);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.squares {
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.deaths {
    border: 2px solid red;
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;

}

.main-img-container {
    background-image: url('../imgs/covidblue.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -99px;
    height: 350px;
    display: flex;
    align-items: flex-end;
}

label {
    font-size: 18px;
}

#insert {
    border: 2px solid grey;
    height: 23px;
    font-size: 15px;
}

#boxbox {
    border-radius: 70%;
    padding: 7px;
    background-color: green;
}

.confirmed {
    border: 2px solid orange;
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

.recovered {
    border: 2px solid green;
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

.population {
    border: 2px solid blue;
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

.country {
    border: 2px solid purple;
    border-radius: 15px 50px 30px;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

p {
    font-size: 20px;
}

#foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(40, 40, 40, 0.5);
    text-align: center;
    display: block;
}

label, h3 {
    padding: 20px;
}